astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
idna==2.10
lazy-object-proxy==1.4.3
six==1.15.0
webencodings==0.5.1
wrapt==1.11.2
